### pattern problem

#### Q1. priyamid pattern

In [ ]:
n = 5
i = 1
m= n
while m > 0:
  print(f"{(n-1)*' '}{(i)*'*'}{(n-1)*' '}")
  i = i+2
  n = n-1
  m=m-1

    *
   ***
  *****
 *******
*********

In [ ]:
n = 5
i = 0
while i < n:
  print("{}{}{}".format(((n-1)-i)*' ',(i*2+1)*'*',((n-1)-i)*' '))
  i=i+1

    *
   ***
  *****
 *******
*********

#### Q2. Inverted Pyramid

In [ ]:
*********
-*******-
--*****--
---***---
----*----

In [ ]:
n = 5
i = 0
while n > 0:
  print(f"{i*' '}{((n*2)-1) * '*' }{i*' '}")
  n = n-1
  i = i+1

*********
 *******
  *****
   ***
    *

In [ ]:
n = 5
i = 0
while n > 0:
  print("{}{}{}".format(i*' ',((n*2)-1) * '*' ,i*' '))
  n = n-1
  i = i+1

*********
 *******
  *****
   ***
    *

#### Q3. Diamond

In [ ]:
# ---*---
# --***--
# *******
# --***--
# ---*---

#    *
#   ***
#  *****
#   ***
#    *

In [ ]:
n = 5
t = (n//2)
b = (n-n//2)
i = 0
while t > 0:
  print("{}{}{}".format(t*' ',((i*2)+1)*'*',t*' '))
  t = t-1
  i = i+1
i=0
while b > 0:
  print("{}{}{}".format(i*' ',((b*2)-1)*'*',i*' '))
  b = b-1
  i = i+1

# 1. i = 1; n = 5 : 2 > 0
# 1. i = 3; n = 4 : 2 > 1
# 1. i = 5; n = 3 : 1 > 2

  *
 ***
*****
 ***
  *

In [ ]:
n = 3
t = 1
b = 1

i = 0
while n > 0:
    print("{}{}{}".format(t*' ',((i*2)-1)*'*',t*' '))
    n = n-1

  *
 ***
*****
 ***
  *

In [ ]:
n = 6

n1 = n
i = 0
while i < n1:
  print("{}{}{}".format(((n1-1)-i)*' ',(i*2+1)*'*',((n1-1)-i)*' '))
  i=i+1

n2 = n
i = 0
while n2 > 0:
  print("{}{}{}".format(i*' ',((n2*2)-1) * '*' ,i*' '))
  n2 = n2-1
  i = i+1

     *
    ***
   *****
  *******
 *********
***********
***********
 *********
  *******
   *****
    ***
     *

#### Q4. Starship

In [ ]:
n1 = 3

n = (n1*2) - 1

a = n//2
b = n - a

for i in range(1,1+a):
  print(i*'*')
for i in list(range(1,1+b))[::-1]:
  print(i*'*')

*
**
***
**
*

#### Q5. Triangle

In [ ]:
n = 5
for i in range(1,1+n):
  if i%2:
      print(*[0 if j%2==0 else 1 for j in range(1,1+i)])
  else:
      print(*[0 if j%2==0 else 1 for j in range(i)])

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

#### Q6. Number Crown Pattern

In [ ]:
1      1
12    21
123  321
12344321

In [ ]:
1    1
12  21
123321

In [ ]:
n = 10
j = 1
for i in range(1,n+1):
  print(' '*(n-j)+i *'*')
  j = j+1

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [ ]:
n = 16
v1 = n
j = 0
for i in range(1,n+1):
  # a = ' '.join([str(j) for j in range(1,i+1)])
  b = ' '.join([str(j) for j in list(range(1,i+1))[::-1]])
  b1 = ''.join(' '*(v1-1)+b)
  print(b1)
  # print(a+((n*2)-2-j)*' '+' '+b1)
  j+=2
  v1-=1

               1
              2 1
             3 2 1
            4 3 2 1
           5 4 3 2 1
          6 5 4 3 2 1
         7 6 5 4 3 2 1
        8 7 6 5 4 3 2 1
       9 8 7 6 5 4 3 2 1
      10 9 8 7 6 5 4 3 2 1
     11 10 9 8 7 6 5 4 3 2 1
    12 11 10 9 8 7 6 5 4 3 2 1
   13 12 11 10 9 8 7 6 5 4 3 2 1
  14 13 12 11 10 9 8 7 6 5 4 3 2 1
 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
1                                                             1
1 2                                                         2 1
1 2 3                                                     3 2 1
1 2 3 4                                                 4 3 2 1
1 2 3 4 5                                             5 4 3 2 1
1 2 3 4 5 6                                         6 5 4 3 2 1
1 2 3 4 5 6 7                                     7 6 5 4 3 2 1
1 2 3 4 5 6 7 8                                 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9                             9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10                         10 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 11                     11 10 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 11 12                 12 11 10 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 11 12 13             13 12 11 10 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 11 12 13 14         14 13 12 11 10 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15     15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
n = 10
j = 1
for i in range(1,n+1):
  print(    ' '*((n-j)+n)   +  (i *'*')  )
  j = j+1

                   *
                  **
                 ***
                ****
               *****
              ******
             *******
            ********
           *********
          **********

In [ ]:
n = 16
j = 2
for i in range(1,n+1):
  print(' '.join(i*'*' +' ' +' '*((n*2-j))   +  (i *'*')))
  j = j + 2

*                                                               *
* *                                                           * *
* * *                                                       * * *
* * * *                                                   * * * *
* * * * *                                               * * * * *
* * * * * *                                           * * * * * *
* * * * * * *                                       * * * * * * *
* * * * * * * *                                   * * * * * * * *
* * * * * * * * *                               * * * * * * * * *
* * * * * * * * * *                           * * * * * * * * * *
* * * * * * * * * * *                       * * * * * * * * * * *
* * * * * * * * * * * *                   * * * * * * * * * * * *
* * * * * * * * * * * * *               * * * * * * * * * * * * *
* * * * * * * * * * * * * *           * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *       * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *   * * * * * * * * * * * * * * * *

In [ ]:
n = 16
j = 2
for i in range(1,n+1):
  print(' '.join(i*'*' +' ' +' '*((n*2-j))   +  (i *'*')))
  j = j + 2

*                                                               *
* *                                                           * *
* * *                                                       * * *
* * * *                                                   * * * *
* * * * *                                               * * * * *
* * * * * *                                           * * * * * *
* * * * * * *                                       * * * * * * *
* * * * * * * *                                   * * * * * * * *
* * * * * * * * *                               * * * * * * * * *
* * * * * * * * * *                           * * * * * * * * * *
* * * * * * * * * * *                       * * * * * * * * * * *
* * * * * * * * * * * *                   * * * * * * * * * * * *
* * * * * * * * * * * * *               * * * * * * * * * * * * *
* * * * * * * * * * * * * *           * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *       * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *   * * * * * * * * * * * * * * * *

In [ ]:
n = 10
j = 1
for i in range(1,n+1):
  v = ''.join([str(j) for j in range(1,i+1)])
  print((' '*((n-j)+n))+v)
  j = j +1

                   1
                  12
                 123
                1234
               12345
              123456
             1234567
            12345678
           123456789
          12345678910

In [ ]:
# right  solution

n = 10
j = 1
for i in range(1,n+1):
  v = ([str(j) for j in range(1,i+1)])
  v1 = ([str(j) for j in list(range(1,i+1))[::-1]])
  print(' '.join(v +list(' '*((n*2-j)))   +  (v1)))
  j = j+2

1                                       1
1 2                                   2 1
1 2 3                               3 2 1
1 2 3 4                           4 3 2 1
1 2 3 4 5                       5 4 3 2 1
1 2 3 4 5 6                   6 5 4 3 2 1
1 2 3 4 5 6 7               7 6 5 4 3 2 1
1 2 3 4 5 6 7 8           8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9       9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10   10 9 8 7 6 5 4 3 2 1

#### Q6. Incresasing Triangle

In [ ]:
1
2 3
4 5 6
7 8 9 10

In [ ]:
a = 1
b = a+1
print(a,b)
a = b
b = a +2
print(a,b)
a = b
b = a + 3
print(a,b)
a = b
b = a + 4
print(a,b)

1 2
2 4
4 7
7 11

In [ ]:
n = 7
a = 1
j = 2
b = a + 1
while n > 0:
  v = ' '.join([str(i) for i in range(a,b)])
  print(v)
  a = b
  b = a + j
  j = j+1
  n = n -1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [ ]:
print(' '.join([str(i) for i in range(1,1+1)]))
print(' '.join([str(i) for i in range(2,2+2)]))
print(' '.join([str(i) for i in range(4,4+3)]))
print(' '.join([str(i) for i in range(7,7+4)]))
print(' '.join([str(i) for i in range(11,11+5)]))
print(' '.join([str(i) for i in range(16,16+6)]))
print(' '.join([str(i) for i in range(22,22+7)]))

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

#### Q7. Increasing Letter Triangle

In [ ]:
n = 7
for i in range(ord('A'),ord('A')+n):
  v = [chr(i) for i in range(ord('A'),i+1)]
  print(*v)

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G

In [ ]:
n = 7
for i in list(range(ord('A'),ord('A')+n))[::-1]:
  v = [chr(i) for i in range(ord('A'),i+1)]
  print(*v)

A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [ ]:
n = 7
for i in list(range(ord('A'),ord('A')+n))[::-1]:
  v = [chr(i) for i in range(ord('A'),i+1)]
  print(*v)

A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [ ]:
n = 7
for i in list(range(ord('A'),ord('A')+n))[::-1]:
  print(i)

71
70
69
68
67
66
65

In [ ]:
n = 5
i = 1
m= n
while m > 0:
  print(f"{(n-1)*' '}{(i)*'*'}{(n-1)*' '}")
  i = i+2
  n = n-1
  m=m-1

In [ ]:
    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDECBA

In [ ]:
    5
   565
  56765
 5678765
567898765

65

In [ ]:


print(((n-1)*' ')+ ''.join([chr(i) for i in range(ord('A'),ord('A')+0)]) + ''.join([chr(i) for i in range(ord('A'),ord('A')+1)]) + ''.join([chr(i) for i in range(ord('A'),ord('A')+0)][::-1])   +((n-1)*' '))
print(((n-2)*' ')+ ''.join([chr(i) for i in range(ord('A'),ord('A')+1)]) + ''.join([chr(i) for i in range(ord('A')+1,ord('A')+2)]) + ''.join([chr(i) for i in range(ord('A'),ord('A')+1)][::-1])   +((n-2)*' '))
print(((n-3)*' ')+ ''.join([chr(i) for i in range(ord('A'),ord('A')+2)]) + ''.join([chr(i) for i in range(ord('A')+2,ord('A')+3)]) + ''.join([chr(i) for i in range(ord('A'),ord('A')+2)][::-1])   +((n-3)*' '))
print(((n-4)*' ')+ ''.join([chr(i) for i in range(ord('A'),ord('A')+3)]) + ''.join([chr(i) for i in range(ord('A')+3,ord('A')+4)]) + ''.join([chr(i) for i in range(ord('A'),ord('A')+3)][::-1])   +((n-4)*' '))
print(((n-5)*' ')+ ''.join([chr(i) for i in range(ord('A'),ord('A')+4)]) + ''.join([chr(i) for i in range(ord('A')+4,ord('A')+5)]) + ''.join([chr(i) for i in range(ord('A'),ord('A')+4)][::-1])   +((n-5)*' '))

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [ ]:
def createleft_right(x,l=True):
  if l:
    return ''.join([chr(i) for i in range(ord('A'),ord('A')+x)])
  else:
    return ''.join([chr(i) for i in range(ord('A'),ord('A')+x)][::-1])
def middle(x):
   return ''.join([chr(i) for i in range(ord('A')+x-1,ord('A')+x)])

In [ ]:
n = 7
def createleft_right(x,l=True):
    if l:
        return ''.join([chr(i) for i in range(ord('A'),ord('A')+x)])
    else:
        return ''.join([chr(i) for i in range(ord('A'),ord('A')+x)][::-1])
def middle(x):
    return ''.join([chr(i) for i in range(ord('A')+x-1,ord('A')+x)])

for i in range(1,1+n):
    print(' '.join(((n-i)*' ')+ createleft_right(i-1) + middle(i) + createleft_right(i-1,False)   +((n-i)*' ')))

            A
          A B A
        A B C B A
      A B C D C B A
    A B C D E D C B A
  A B C D E F E D C B A
A B C D E F G F E D C B A

In [ ]:
print(((n-1)*' ')+ createleft_right(0) + middle(1) + createleft_right(0,False)   +((n-1)*' '))
print(((n-2)*' ')+ createleft_right(1) + middle(2) + createleft_right(2,False)   +((n-2)*' '))
print(((n-3)*' ')+ createleft_right(2) + middle(3) + createleft_right(3,False)   +((n-3)*' '))
print(((n-4)*' ')+ createleft_right(3) + middle(4) + createleft_right(4,False)   +((n-4)*' '))
print(((n-5)*' ')+ createleft_right(4) + middle(5) + createleft_right(5,False)   +((n-5)*' '))

    A
   ABBA
  ABCCBA
 ABCDDCBA
ABCDEEDCBA

In [ ]:
n = 5
c = 1
for i in range(ord('A'),ord('A')+n):
  dd = (c*2-1)
  d = dd//2
  e = dd-d
  v1 = ''.join([chr(j) for j in range(ord('A'),(ord('A')+d))])
  v2 = ''.join([chr(j) for j in range(ord('A'),(ord('A')+e))][::-1])
  s = (' '*(n-c))
  print(' '.join(s+v1+v2+s))
  c+=1

        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A

In [ ]:
c = 1
d = (c*2-1)
print(d)
e = d-(d//2)
print(e)

1
1

In [ ]:
n = 5
c = 1
for i in range(1,n+1)[::-1]:
  v = ' '.join([str(i) for i in range(i,i+c)])
  print(v)
  c+=1

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [ ]:
n = 3
c = 1
for i in range(ord('A'),ord('A')+n)[::-1]:
  v = ' '.join([str(chr(i)) for i in range(i,i+c)][::-1])
  print(v)
  c+=1

C
C B
C B A

In [ ]:
n = 3
m = 0
for i in range(1,n+1)[::-1]:
  print(*(i*'*')+(m*' ')+(i*'*'))
  m +=2
m = n
for i in range(1,n+1):
  print(*(i*'*')+(((m-1)*2)*' ')+(i*'*'))
  m -=1

* * * * * *
* *     * *
*         *
*         *
* *     * *
* * * * * *

In [ ]:
n = 3
m = 0
for i in range(1,n+1)[::-1]:
  print(' '.join((i*'*')+(m*' ')+(i*'*')))
  m +=2
m = n
for i in range(1,n+1):
  print(' '.join((i*'*')+(((m-1)*2)*' ')+(i*'*')))
  m -=1

* * * * * *
* *     * *
*         *
*         *
* *     * *
* * * * * *

In [ ]:
n = 6
v1 = ([i*'*' for i in range(1,n)[::-1]])

In [ ]:
len('************')

12

In [ ]:
m = n
for i in range(1,n+1):
  print((i*'*')+(((m*2)-1)*' ')+(i*'*'))
  m -=1

*           *
**         **
***       ***
****     ****
*****   *****
****** ******

In [ ]:
print(' '.join('. -   -'))
print(*'. -   -')

.   -       -
.   -       -