### SORTING TECHNIQUE:

#### SELECTION SORT:

In [ ]:
# select minimun & sort

In [ ]:
arr = [4, 1 ,3 ,9, 7]
for i in range(len(arr)):
  for j in range(i+1,len(arr)):
      if arr[j] < arr[i]:
          v = arr[i]
          arr[i] = arr[j]
          arr[j] = v
arr

[1, 3, 4, 7, 9]

#### BUBBLE SORT:

In [ ]:
arr = [17,26,18,6,56,82]

[17,18,6,26,56,82]

In [ ]:
arr = [4, 1 ,3 ,9, 7]
arr = [2 ,1 ,0, 2, 1 ,0 ,0, 2,]
arr
for i in range(len(arr)):
  for j in range(len(arr)-(i+1)):
    if arr[j] > arr[j+1]:
      arr[j],arr[j+1] = arr[j+1],arr[j]
arr

[0, 0, 0, 1, 1, 2, 2, 2]

#### INSERTION SORT:

In [ ]:
arr = [4, 1 ,3 ,9, 7]
for i in range(len(arr)):
  for j in range(0,i+1):
    if arr[j]> arr[i]:
      arr[i],arr[j] = arr[j],arr[i]
arr

[1, 3, 4, 7, 9]

#### MERGE SORT:

In [ ]:
arr = [4, 1 ,3 ,9, 7]
def

In [ ]:
st = '0000'
s = st[0]
print('the start is',s)
count = 0
if s == '0':
  for i in range(len(s)):
    if i%2==0:
      if s[i]=='0':
        pass
      else:
        count+=1
    if i%2==1:
      if s[i]=='1':
        pass
      else:
        count+=1


if s == '1':
  for i in range(len(s)):
    if i%2==0:
      if s[i]=='1':
        pass
      else:
        count+=1
    if i%2==1:
      if s[i]=='0':
        pass
      else:
        count+=1
count

the start is 0

0

In [ ]:
s = 'A1b22Ba'
v = range(ord('A'),ord('z')+1)
v1 = range(ord('1'),ord('9')+1)
x = ''
a = 'No'

for i in s:
  if ord(i) in v or ord(i) in v1:
    x+=i.lower()
print(x)
if x[::-1] == x:
  a = 'Yes'
a

a1b22ba

'No'